body {
  height: 90%;
  letter-spacing: 0.03em;
  line-height: 2.2em;
  margin: 30px;
  overflow-wrap: break-word;
  text-align: justify;
  writing-mode: vertical-rl;
}

h2 {
  margin-inline-start: 1em;
}

blockquote {
  margin: 7px 0 5px 0;
  padding: 16px 0 10px 0;
  border-left-style: none;
  border-top-style: solid;
  border-top-width: 5px;
}

ruby {
  text-indent: 0px;
}

.wrap {
  position: absolute;
  right: 0;
}
